USE [master]
GO
/****** Object:  Database [DOAN_THUEBD]    Script Date: 13/05/2024 23:47:49 ******/
CREATE DATABASE [DOAN_THUEBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOAN_THUEBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LOCAL\MSSQL\DATA\DOAN_THUEBD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DOAN_THUEBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LOCAL\MSSQL\DATA\DOAN_THUEBD_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOAN_THUEBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOAN_THUEBD]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IDHD] [char](6) NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[NGAYTAO] [date] NOT NULL,
 CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_DOANHTHUTHEOTHANG]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_DOANHTHUTHEOTHANG]
AS
SELECT MONTH(NGAYTAO) AS THANG, SUM(TONGTIEN) AS DOANHTHU
FROM     dbo.HOADON AS HD
WHERE  (YEAR(NGAYTAO) = YEAR(GETDATE()))
GROUP BY MONTH(NGAYTAO)
GO
/****** Object:  View [dbo].[VIEW_DOANHTHUTHEONAM]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_DOANHTHUTHEONAM]
AS
SELECT YEAR(NGAYTAO) AS NAM, SUM(TONGTIEN) AS DOANHTHU
FROM     dbo.HOADON AS HD
GROUP BY YEAR(NGAYTAO)
GO
/****** Object:  View [dbo].[VIEW_DOANHTHUTHEONGAY]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VIEW_DOANHTHUTHEONGAY]
as
select HD.NGAYTAO, sum(HD.TONGTIEN) as DOANHTHU
from HOADON as HD
group by HD.NGAYTAO
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[IDPHIEUTHUE] [char](6) NOT NULL,
	[MADIA] [char](6) NOT NULL,
	[MAKH] [char](6) NOT NULL,
	[SLTHUE] [int] NOT NULL,
	[GIA] [money] NOT NULL,
	[TT] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[IDPHIEUTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIA](
	[MADIA] [char](6) NOT NULL,
	[TENDIA] [nvarchar](50) NOT NULL,
	[LOAI] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [money] NOT NULL,
	[TT] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_DIA] PRIMARY KEY CLUSTERED 
(
	[MADIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_DIATHUE]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[VIEW_DIATHUE]
as
select  PHIEUTHUE.MADIA, sum(PHIEUTHUE.SLTHUE) as SLTHUE 
from PHIEUTHUE inner join DIA on PHIEUTHUE.MADIA = DIA.MADIA 
where PHIEUTHUE.TT = N'chưa trả'
group by PHIEUTHUE.MADIA 
GO
/****** Object:  View [dbo].[VIEW_TTDIATHUE]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[VIEW_TTDIATHUE]
as
select DIA.MADIA, DIA.SOLUONG as SLTON, dt.SLTHUE
from VIEW_DIATHUE as dt, DIA
where DIA.MADIA = dt.MADIA
GO
/****** Object:  View [dbo].[VIEW_TTDIATON]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[VIEW_TTDIATON]
as
select distinct DIA.MADIA, DIA.SOLUONG as SLTON, 0 as SLTHUE
from DIA, PHIEUTHUE
where DIA.MADIA not in (select PHIEUTHUE.MADIA from PHIEUTHUE)
GO
/****** Object:  View [dbo].[VIEW_TKSLDIA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[VIEW_TKSLDIA]
as
SELECT *
FROM    VIEW_TTDIATON
union
select * from VIEW_TTDIATHUE
GO
/****** Object:  Table [dbo].[CT_PHIEUTRA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUTRA](
	[IDPHIEU] [char](6) NOT NULL,
	[IDTHUE] [char](6) NOT NULL,
	[IDTRA] [char](6) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[IDPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[IDTRA] [char](6) NOT NULL,
	[MANV] [char](6) NULL,
	[IDHD] [char](6) NULL,
	[PHUPHI] [money] NOT NULL,
 CONSTRAINT [PK_PHIEUTRA_1] PRIMARY KEY CLUSTERED 
(
	[IDTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DIATQ]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_DIATQ]
AS
SELECT dbo.PHIEUTHUE.MADIA, dbo.CT_PHIEUTRA.NGAYLAP, dbo.PHIEUTHUE.GIA, dbo.PHIEUTRA.PHUPHI
FROM     dbo.CT_PHIEUTRA INNER JOIN
                  dbo.PHIEUTHUE ON dbo.CT_PHIEUTRA.IDTHUE = dbo.PHIEUTHUE.IDPHIEUTHUE INNER JOIN
                  dbo.PHIEUTRA ON dbo.CT_PHIEUTRA.IDTRA = dbo.PHIEUTRA.IDTRA
GO
/****** Object:  Table [dbo].[CT_CAPNHAT]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CAPNHAT](
	[IDCN] [int] IDENTITY(1,1) NOT NULL,
	[MADIA] [char](6) NOT NULL,
	[MANV] [char](6) NOT NULL,
	[NGAYCN] [date] NOT NULL,
 CONSTRAINT [PK_CT_CAPNHAT_1] PRIMARY KEY CLUSTERED 
(
	[IDCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_NHAPDIA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NHAPDIA](
	[MANCC] [char](6) NOT NULL,
	[MADIA] [char](6) NOT NULL,
	[MANV] [char](6) NOT NULL,
	[NGAYNHAP] [date] NULL,
 CONSTRAINT [PK_CT_NHAPDIA] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC,
	[MADIA] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUTHUE]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUTHUE](
	[IDPHIEU] [char](6) NOT NULL,
	[MANV] [char](6) NOT NULL,
	[IDTHUE] [char](6) NULL,
	[NGAYTHUE] [date] NOT NULL,
	[NGAYTRA] [date] NOT NULL,
 CONSTRAINT [PK_PHIEU] PRIMARY KEY CLUSTERED 
(
	[IDPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_THEMKH]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_THEMKH](
	[MANV] [char](6) NOT NULL,
	[MAKH] [char](6) NOT NULL,
	[NGAYTHEM] [date] NULL,
 CONSTRAINT [PK_CT_THEMKH] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKH] [char](6) NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[TT] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](6) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNV] [char](6) NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIACHI] [nvarchar](255) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[UID] [char](6) NOT NULL,
	[TENDANGNHAP] [char](6) NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[VAITRO] [int] NOT NULL,
	[TT] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CT_CAPNHAT] ON 

INSERT [dbo].[CT_CAPNHAT] ([IDCN], [MADIA], [MANV], [NGAYCN]) VALUES (1, N'012345', N'026263', CAST(N'2024-02-28' AS Date))
INSERT [dbo].[CT_CAPNHAT] ([IDCN], [MADIA], [MANV], [NGAYCN]) VALUES (3, N'012345', N'036698', CAST(N'2024-03-01' AS Date))
INSERT [dbo].[CT_CAPNHAT] ([IDCN], [MADIA], [MANV], [NGAYCN]) VALUES (4, N'012345', N'036698', CAST(N'2024-03-01' AS Date))
SET IDENTITY_INSERT [dbo].[CT_CAPNHAT] OFF
GO
INSERT [dbo].[CT_NHAPDIA] ([MANCC], [MADIA], [MANV], [NGAYNHAP]) VALUES (N'CE32  ', N'6OA6CI', N'026263', CAST(N'2024-03-01' AS Date))
INSERT [dbo].[CT_NHAPDIA] ([MANCC], [MADIA], [MANV], [NGAYNHAP]) VALUES (N'CE32  ', N'G5MYS4', N'026263', CAST(N'2024-03-01' AS Date))
INSERT [dbo].[CT_NHAPDIA] ([MANCC], [MADIA], [MANV], [NGAYNHAP]) VALUES (N'TKT   ', N'012345', N'026263', CAST(N'2024-02-28' AS Date))
GO
INSERT [dbo].[CT_PHIEUTHUE] ([IDPHIEU], [MANV], [IDTHUE], [NGAYTHUE], [NGAYTRA]) VALUES (N'032156', N'036698', N'032156', CAST(N'2024-02-28' AS Date), CAST(N'2024-04-06' AS Date))
INSERT [dbo].[CT_PHIEUTHUE] ([IDPHIEU], [MANV], [IDTHUE], [NGAYTHUE], [NGAYTRA]) VALUES (N'77Y22U', N'036698', N'77Y22U', CAST(N'2024-02-29' AS Date), CAST(N'2024-06-03' AS Date))
INSERT [dbo].[CT_PHIEUTHUE] ([IDPHIEU], [MANV], [IDTHUE], [NGAYTHUE], [NGAYTRA]) VALUES (N'abc567', N'036698', N'abc567', CAST(N'2024-02-29' AS Date), CAST(N'2024-06-03' AS Date))
GO
INSERT [dbo].[CT_PHIEUTRA] ([IDPHIEU], [IDTHUE], [IDTRA], [NGAYLAP]) VALUES (N'022661', N'032156', N'022661', CAST(N'2024-02-29' AS Date))
INSERT [dbo].[CT_PHIEUTRA] ([IDPHIEU], [IDTHUE], [IDTRA], [NGAYLAP]) VALUES (N'7XTVCS', N'SIVYJM', N'7XTVCS', CAST(N'2024-03-18' AS Date))
INSERT [dbo].[CT_PHIEUTRA] ([IDPHIEU], [IDTHUE], [IDTRA], [NGAYLAP]) VALUES (N'ZDRQ01', N'abc567', N'ZDRQ01', CAST(N'2024-03-01' AS Date))
GO
INSERT [dbo].[CT_THEMKH] ([MANV], [MAKH], [NGAYTHEM]) VALUES (N'036698', N'112233', CAST(N'2024-02-28' AS Date))
GO
INSERT [dbo].[DIA] ([MADIA], [TENDIA], [LOAI], [SOLUONG], [GIA], [TT]) VALUES (N'012345', N'Doraemon', N'CD', 200, 17000.0000, N'Hiện')
INSERT [dbo].[DIA] ([MADIA], [TENDIA], [LOAI], [SOLUONG], [GIA], [TT]) VALUES (N'036269', N'Sakura', N'CD', 70, 10000.0000, N'Hiện')
INSERT [dbo].[DIA] ([MADIA], [TENDIA], [LOAI], [SOLUONG], [GIA], [TT]) VALUES (N'056263', N'Boruto ', N'DVD', 75, 10000.0000, N'Hiện')
GO
INSERT [dbo].[HOADON] ([IDHD], [TONGTIEN], [NGAYTAO]) VALUES (N'112233', 35000.0000, CAST(N'2024-02-29' AS Date))
INSERT [dbo].[HOADON] ([IDHD], [TONGTIEN], [NGAYTAO]) VALUES (N'GK9HMN', 60000.0000, CAST(N'2024-03-01' AS Date))
INSERT [dbo].[HOADON] ([IDHD], [TONGTIEN], [NGAYTAO]) VALUES (N'SARUJK', 180000.0000, CAST(N'2024-03-18' AS Date))
GO
INSERT [dbo].[KHACHHANG] ([IDKH], [CCCD], [HOTEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [TT]) VALUES (N'036989', N'698532147897', N'Nguyễn Văn Lâm', N'Nam', CAST(N'2000-07-31' AS Date), N'0369875698', N'longvan@gmail.com', N'TPHCM', N'enable')
INSERT [dbo].[KHACHHANG] ([IDKH], [CCCD], [HOTEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [TT]) VALUES (N'066263', N'098765412365', N'Nguyễn Ngọc Như', N'Nữ', CAST(N'1999-09-30' AS Date), N'0369857458', N'nhunguyen@gmail.com', N'Long An', N'enable')
INSERT [dbo].[KHACHHANG] ([IDKH], [CCCD], [HOTEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [TT]) VALUES (N'112233', N'084565698712', N'Ngô Tu?n Nghia', N'Nam', CAST(N'1990-06-30' AS Date), N'0395687412', N'nghiango@gmail.com', N'Long An', N'disable')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC]) VALUES (N'CE32  ', N'Cánh Én ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC]) VALUES (N'PN00  ', N'Phương Nam')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC]) VALUES (N'TKT   ', N'TOKUTATSU')
GO
INSERT [dbo].[NHANVIEN] ([IDNV], [CCCD], [HO], [TEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI]) VALUES (N'026263', N'030605020309', N'Vũ Đức', N'Hiếu', N'Nam', CAST(N'1996-06-30' AS Date), N'0369871569', N'hieuvu@gmail.com', N'Long An')
INSERT [dbo].[NHANVIEN] ([IDNV], [CCCD], [HO], [TEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI]) VALUES (N'036698', N'095605036298', N'Ngô', N'Bát', N'Nam', CAST(N'1990-12-29' AS Date), N'0399569892', N'ngbat@gmail.com', N'TPHCM')
INSERT [dbo].[NHANVIEN] ([IDNV], [CCCD], [HO], [TEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI]) VALUES (N'089652', N'069815632314', N'Nguyễn Hồng', N'Nhung', N'Nữ', CAST(N'2002-10-09' AS Date), N'0326599874', N'nhungg5@gmail.com', N'Sóc Trăng')
GO
INSERT [dbo].[PHIEUTHUE] ([IDPHIEUTHUE], [MADIA], [MAKH], [SLTHUE], [GIA], [TT]) VALUES (N'032156', N'036269', N'036989', 5, 25000.0000, N'dã tr?')
INSERT [dbo].[PHIEUTHUE] ([IDPHIEUTHUE], [MADIA], [MAKH], [SLTHUE], [GIA], [TT]) VALUES (N'77Y22U', N'036269', N'066263', 10, 50000.0000, N'chưa trả')
INSERT [dbo].[PHIEUTHUE] ([IDPHIEUTHUE], [MADIA], [MAKH], [SLTHUE], [GIA], [TT]) VALUES (N'abc567', N'036269', N'066263', 10, 50000.0000, N'dã tr?')
GO
INSERT [dbo].[PHIEUTRA] ([IDTRA], [MANV], [IDHD], [PHUPHI]) VALUES (N'022661', N'089652', N'112233', 10000.0000)
INSERT [dbo].[PHIEUTRA] ([IDTRA], [MANV], [IDHD], [PHUPHI]) VALUES (N'7XTVCS', N'036698', N'SARUJK', 10000.0000)
INSERT [dbo].[PHIEUTRA] ([IDTRA], [MANV], [IDHD], [PHUPHI]) VALUES (N'ZDRQ01', NULL, N'GK9HMN', 10000.0000)
GO
INSERT [dbo].[TAIKHOAN] ([UID], [TENDANGNHAP], [MATKHAU], [VAITRO], [TT]) VALUES (N'012345', N'026263', N'Vhieu03@', 0, N'enable')
INSERT [dbo].[TAIKHOAN] ([UID], [TENDANGNHAP], [MATKHAU], [VAITRO], [TT]) VALUES (N'543210', N'036698', N'Adidaphat', 1, N'enable')
INSERT [dbo].[TAIKHOAN] ([UID], [TENDANGNHAP], [MATKHAU], [VAITRO], [TT]) VALUES (N'556147', N'089652', N'meowSoCute555', 1, N'enable')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CT_CAPNHAT]    Script Date: 13/05/2024 23:47:49 ******/
CREATE NONCLUSTERED INDEX [IX_CT_CAPNHAT] ON [dbo].[CT_CAPNHAT]
(
	[MADIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KHACHHANG_CCCD]    Script Date: 13/05/2024 23:47:49 ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [IX_KHACHHANG_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHANVIEN_CCCD]    Script Date: 13/05/2024 23:47:49 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_NHANVIEN_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENDANGNHAP]    Script Date: 13/05/2024 23:47:49 ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [UK_TENDANGNHAP] UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_CAPNHAT] ADD  CONSTRAINT [DF_CT_CAPNHAT_NGAYCN]  DEFAULT (getdate()) FOR [NGAYCN]
GO
ALTER TABLE [dbo].[CT_NHAPDIA] ADD  CONSTRAINT [DF_CT_NHAPDIA_NGAYNHAP]  DEFAULT (getdate()) FOR [NGAYNHAP]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] ADD  CONSTRAINT [DF_CT_PHIEUTHUE_NGAYTHUE]  DEFAULT (getdate()) FOR [NGAYTHUE]
GO
ALTER TABLE [dbo].[CT_PHIEUTRA] ADD  CONSTRAINT [DF_CT_PHIEUTRA_NGAYLAP]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[CT_THEMKH] ADD  CONSTRAINT [DF_CT_THEMKH_NGAYTHEM]  DEFAULT (getdate()) FOR [NGAYTHEM]
GO
ALTER TABLE [dbo].[DIA] ADD  CONSTRAINT [DF_DIA_TT]  DEFAULT (N'Hiện') FOR [TT]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_TONGTIEN]  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NGAYTAO]  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_GIOITINH]  DEFAULT (N'Nam') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_TT]  DEFAULT (N'enable') FOR [TT]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT (N'Nam') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[PHIEUTHUE] ADD  CONSTRAINT [DF_PHIEUTHUE_GIA]  DEFAULT ((0)) FOR [GIA]
GO
ALTER TABLE [dbo].[PHIEUTHUE] ADD  CONSTRAINT [DF_PHIEUTHUE_TT_1]  DEFAULT (N'chưa trả') FOR [TT]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_VAITRO]  DEFAULT ((1)) FOR [VAITRO]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_TT]  DEFAULT (N'enable') FOR [TT]
GO
ALTER TABLE [dbo].[CT_CAPNHAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_CAPNHAT_DIA] FOREIGN KEY([MADIA])
REFERENCES [dbo].[DIA] ([MADIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_CAPNHAT] CHECK CONSTRAINT [FK_CT_CAPNHAT_DIA]
GO
ALTER TABLE [dbo].[CT_CAPNHAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_CAPNHAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_CAPNHAT] CHECK CONSTRAINT [FK_CT_CAPNHAT_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_NHAPDIA]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPDIA_DIA] FOREIGN KEY([MADIA])
REFERENCES [dbo].[DIA] ([MADIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_NHAPDIA] CHECK CONSTRAINT [FK_CT_NHAPDIA_DIA]
GO
ALTER TABLE [dbo].[CT_NHAPDIA]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPDIA_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_NHAPDIA] CHECK CONSTRAINT [FK_CT_NHAPDIA_NHACUNGCAP]
GO
ALTER TABLE [dbo].[CT_NHAPDIA]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAPDIA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_NHAPDIA] CHECK CONSTRAINT [FK_CT_NHAPDIA_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTHUE_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] CHECK CONSTRAINT [FK_CT_PHIEUTHUE_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTHUE_PHIEUTHUE] FOREIGN KEY([IDTHUE])
REFERENCES [dbo].[PHIEUTHUE] ([IDPHIEUTHUE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] CHECK CONSTRAINT [FK_CT_PHIEUTHUE_PHIEUTHUE]
GO
ALTER TABLE [dbo].[CT_PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRA_PHIEUTHUE] FOREIGN KEY([IDTHUE])
REFERENCES [dbo].[PHIEUTHUE] ([IDPHIEUTHUE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUTRA] CHECK CONSTRAINT [FK_CT_PHIEUTRA_PHIEUTHUE]
GO
ALTER TABLE [dbo].[CT_PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRA_PHIEUTRA1] FOREIGN KEY([IDTRA])
REFERENCES [dbo].[PHIEUTRA] ([IDTRA])
GO
ALTER TABLE [dbo].[CT_PHIEUTRA] CHECK CONSTRAINT [FK_CT_PHIEUTRA_PHIEUTRA1]
GO
ALTER TABLE [dbo].[CT_THEMKH]  WITH CHECK ADD  CONSTRAINT [FK_CT_THEMKH_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_THEMKH] CHECK CONSTRAINT [FK_CT_THEMKH_KHACHHANG]
GO
ALTER TABLE [dbo].[CT_THEMKH]  WITH CHECK ADD  CONSTRAINT [FK_CT_THEMKH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_THEMKH] CHECK CONSTRAINT [FK_CT_THEMKH_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_DIA] FOREIGN KEY([MADIA])
REFERENCES [dbo].[DIA] ([MADIA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_DIA]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_HOADON] FOREIGN KEY([IDHD])
REFERENCES [dbo].[HOADON] ([IDHD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_HOADON]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_TAIKHOAN] FOREIGN KEY([UID])
REFERENCES [dbo].[TAIKHOAN] ([UID])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_TAIKHOAN]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [CK_CT_PHIEUTHUE_NGAYTRA] CHECK  (([NGAYTRA]>[NGAYTHUE]))
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] CHECK CONSTRAINT [CK_CT_PHIEUTHUE_NGAYTRA]
GO
ALTER TABLE [dbo].[DIA]  WITH CHECK ADD  CONSTRAINT [CK_DIA_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[DIA] CHECK CONSTRAINT [CK_DIA_GIA]
GO
ALTER TABLE [dbo].[DIA]  WITH CHECK ADD  CONSTRAINT [CK_DIA_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[DIA] CHECK CONSTRAINT [CK_DIA_SOLUONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_TONGTIEN] CHECK  (([TONGTIEN]>(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_TONGTIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_EMAIL] CHECK  (([EMAIL] like '%@gmail.com'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_EMAIL]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_GIOITINH] CHECK  (([GIOITINH]=N'NỮ' OR [GIOITINH]=N'NAM' OR [GIOITINH]=N'nữ' OR [GIOITINH]=N'nam' OR [GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_GIOITINH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_NGAYSINH] CHECK  (([NGAYSINH]<getdate()))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_NGAYSINH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_TT] CHECK  (([TT]='disable' OR [TT]='enable'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_TT]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUTHUE_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [CK_PHIEUTHUE_GIA]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUTHUE_SLTHUE] CHECK  (([SLTHUE]>(0)))
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [CK_PHIEUTHUE_SLTHUE]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUTRA_PHUPHI] CHECK  (([PHUPHI]>(0)))
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [CK_PHIEUTRA_PHUPHI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TAIKHOAN_MATKHAU] CHECK  ((NOT [MATKHAU] like '%[^a-zA-Z0-9!@#$%^&*()]%'))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TAIKHOAN_MATKHAU]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TAIKHOAN_TT] CHECK  (([TT]='disable' OR [TT]='enable'))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TAIKHOAN_TT]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TAIKHOAN_VAITRO] CHECK  (([VAITRO]=(1) OR [VAITRO]=(0)))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TAIKHOAN_VAITRO]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHINHGIA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CHINHGIA]
(@madia char(6), @manv char(6), @gia money)
as
begin
	begin transaction
			begin try
				--Sửa field GIA bảng DIA theo giá đã nhập
				update DIA
				set GIA = @gia
				where DIA.MADIA = @madia

				--Thêm bản ghi trong bảng CT_CAPNHAT
				insert into CT_CAPNHAT (MADIA, MANV)
				values (@madia, @manv)

				commit; --Lưu các thay đổi nếu không có lỗi
			end try
			begin catch
			
				rollback; --rollback nếu có lỗi

			end catch
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DANGNHAP] 
(@username char(6), @password varchar(20))
as
begin 
	--Lấy ra vai trò và tạng thái của tài khoản nhập vào
	select TAIKHOAN.VAITRO, TAIKHOAN.TT
	from TAIKHOAN
	where TAIKHOAN.TENDANGNHAP = @username and TAIKHOAN.MATKHAU = @password
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DOANHTHU]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DOANHTHU] (@mode nvarchar(10))
as 
begin
	if (@mode ='Ngày')
		begin
			select *
			from VIEW_DOANHTHUTHEONGAY
		end
	if (@mode ='Tháng')
		begin
			select *
			from VIEW_DOANHTHUTHEOTHANG
		end
	if (@mode ='Năm')
		begin
			select *
			from VIEW_DOANHTHUTHEONAM
		end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DSDIADT]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DSDIADT]
(@mode nvarchar(10))
as 
begin
---Proc này dùng để lấy ra doanh thu của từng băng đĩa theo ngày, tháng hay năm
	if (@mode ='Ngày')
		begin
			select View_DIATQ.MADIA, View_DIATQ.NGAYLAP as NGAY, sum(View_DIATQ.GIA + View_DIATQ.PHUPHI) as DOANHTHU
			from View_DIATQ
			group by View_DIATQ.NGAYLAP, View_DIATQ.MADIA
			order by View_DIATQ.NGAYLAP;
		end
	if (@mode ='Tháng')
		begin
			select View_DIATQ.MADIA, MONTH(View_DIATQ.NGAYLAP) as THANG, sum(View_DIATQ.GIA + View_DIATQ.PHUPHI) as DOANHTHU
			from View_DIATQ
			group by MONTH(View_DIATQ.NGAYLAP), View_DIATQ.MADIA
			order by MONTH(View_DIATQ.NGAYLAP);
		end
	if (@mode ='Năm')
		begin
			begin
			select View_DIATQ.MADIA, YEAR(View_DIATQ.NGAYLAP) as NAM, sum(View_DIATQ.GIA + View_DIATQ.PHUPHI) as DOANHTHU
			from View_DIATQ
			group by YEAR(View_DIATQ.NGAYLAP), View_DIATQ.MADIA
			order by YEAR(View_DIATQ.NGAYLAP);
		end
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DSDIATT]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DSDIATT]
as
begin
	---Proc này dùng để lấy ra trạng thái tồn kho, thuê của từng sản phẩm
	select * from VIEW_TTDIATHUE
	union 
	select * from VIEW_TTDIATON
end
GO
/****** Object:  StoredProcedure [dbo].[SP_HIENTOANBODIA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_HIENTOANBODIA]
as
begin
	update DIA
	set TT = N'Hiện'
	where TT = N'Ẩn'
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_laythongtinchitietnhanvien]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_laythongtinchitietnhanvien] (@manv char(6))
as
begin
	select *
	from NHANVIEN nv
	where nv.IDNV = @manv
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_laythongtinnhanvien]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_laythongtinnhanvien] (@manv char(6))
as
begin
	select nv.IDNV, nv.CCCD, nv.HO + ' ' + nv.TEN as HOTEN, nv.GIOITINH, nv.NGAYSINH
	from NHANVIEN nv
	where nv.IDNV = @manv
end
GO
/****** Object:  StoredProcedure [dbo].[SP_NHAPDIA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_NHAPDIA]
(@mancc char(6), @manv char(6), @madia char(6), @tendia nvarchar(50), @loai nvarchar(50), @sl int, @gia money)
as
begin
	begin transaction
		begin try
			--Thêm bản ghi mới vào bảng DIA
			insert into DIA (MADIA, TENDIA, LOAI, SOLUONG, GIA)
			values (@madia, @tendia, @loai, @sl, @gia)

			--Thêm bản ghi mới vào bảng CT_NHAPDIA
			insert into CT_NHAPDIA(MANCC, MADIA, MANV)
			values (@mancc, @madia, @manv)

			commit; --Lưu các thay đổi nếu không có lỗi
		end try
		begin catch
			
			rollback; --rollback nếu có lỗi

		end catch
end
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMKH]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_THEMKH]
(@manv char(6), @makh char(6), @cccd char(12), @hoten nvarchar(50), @gioitinh nvarchar(5), @ngaysinh date, @sdt char(10), @email varchar(100), @diachi nvarchar(255))
as
begin
	begin transaction
	begin try
	--Thêm bản ghi vào bảng KHACHHANG
	insert into KHACHHANG(IDKH, CCCD, HOTEN, GIOITINH, NGAYSINH, SDT, EMAIL, DIACHI, TT)
	values (@makh, @cccd, @hoten, @gioitinh, @ngaysinh, @sdt, @email, @diachi, 'disable')

	--Thêm bản ghi vào bảng CT_THEMKH
	insert into CT_THEMKH (MANV, MAKH)
	values (@manv, @makh)

	--Nếu không lỗi thì commit
	commit;
	end try
	begin catch 
		--Lỗi thì rollback
		rollback;
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[SP_THUEDIA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THUEDIA] 
(@idpt char(6), @madia char(6), @manv char(6), @makh char(6), @slthue int, @ngaytra date)
as
begin
	begin transaction
		begin try
			--Update số lượng đĩa trong bảng đĩa
			update dbo.DIA
			set SOLUONG = SOLUONG - @slthue
			where DIA.MADIA = @madia

			--Insert 1 bộ vào bảng phiếu thuê
			insert into dbo.PHIEUTHUE (IDPHIEUTHUE, MADIA, MAKH, SLTHUE, GIA)
			values (@idpt, @madia, @makh, @slthue, ((select DIA.GIA from DIA where DIA.MADIA = @madia) * @slthue))

			--Insert 1 bản ghi mới vào CT_PHIEUTHUE
			insert into dbo.CT_PHIEUTHUE (IDPHIEU, MANV, IDTHUE, NGAYTRA)
			values (@idpt, @manv, @idpt, @ngaytra)

			commit; --Lưu các thay đổi nếu không có lỗi
		end try
		begin catch
			--rollback nếu có lỗi
			rollback; 
		end catch				
end
GO
/****** Object:  StoredProcedure [dbo].[SP_TRA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_TRA] 
(@idthue char(6), @idtra char(6), @idhd char(6), @manv char(6), @phuphi money)
as
begin
	declare @slthue int; 
	declare @giathue int;
	declare @madia char(6);

	--Lấy giá thuê từ bảng PHIEUTHUE
	select @giathue = GIA from PHIEUTHUE where PHIEUTHUE.IDPHIEUTHUE = @idthue

	

		if exists (select * from HOADON where HOADON.IDHD = @idhd)
		begin
			begin transaction
			begin try
				--Cập nhật lại bảng PHIEUTHUE cột trạng thái
				update PHIEUTHUE
				set PHIEUTHUE.TT = 'đã trả'
				where PHIEUTHUE.IDPHIEUTHUE = @idthue

				--Cập nhật bản ghi trùng mã hóa đơn với @mahd vào bảng HOADON
				update HOADON
				set TONGTIEN = @giathue + @phuphi
				where HOADON.IDHD = @idhd

				--Thêm 1 bản ghi vào bảng PHIEUTRA
				insert into dbo.PHIEUTRA (IDTRA, MANV, IDHD, PHUPHI)
				values (@idtra, @manv, @idhd, @phuphi)

				--Thêm 1 bản ghi vào bảng CT_PHIEUTRA
				insert into dbo.CT_PHIEUTRA (IDPHIEU, IDTHUE, IDTRA)
				values (@idtra, @idthue, @idtra)

				--Lấy slthue, madia tại idthue
				select @slthue = PHIEUTHUE.SLTHUE, @madia = PHIEUTHUE.MADIA
				from PHIEUTHUE
				where PHIEUTHUE.IDPHIEUTHUE = @idthue

				--Cập nhật số lượng bảng đĩa
				update DIA
				set SOLUONG = SOLUONG + @slthue
				where DIA.MADIA = @madia
		
				--Nếu không lỗi thì thực hiện commit
				commit;
			end try
			begin catch
				--Lỗi thì rollback lại dữ liệu
				rollback;
			end catch
		end
		else
		begin
			begin transaction
			begin try
				--Cập nhật lại bảng PHIEUTHUE cột trạng thái
				update PHIEUTHUE
				set PHIEUTHUE.TT = 'đã trả'
				where PHIEUTHUE.IDPHIEUTHUE = @idthue

				--Thêm 1 bản ghi mới vào bảng HOADON
				insert into dbo.HOADON (IDHD, TONGTIEN)
				values (@idhd, @giathue + @phuphi)

				--Thêm 1 bản ghi vào bảng PHIEUTRA
				insert into dbo.PHIEUTRA (IDTRA, MANV, IDHD, PHUPHI)
				values (@idtra, @manv, @idhd, @phuphi)

				--Thêm 1 bản ghi vào bảng CT_PHIEUTRA
				insert into dbo.CT_PHIEUTRA (IDPHIEU, IDTHUE, IDTRA)
				values (@idtra, @idthue, @idtra)

				--Lấy slthue, madia tại idthue
				select @slthue = PHIEUTHUE.SLTHUE, @madia = PHIEUTHUE.MADIA
				from PHIEUTHUE
				where PHIEUTHUE.IDPHIEUTHUE = @idthue

				--Cập nhật số lượng bảng đĩa
				update DIA
				set SOLUONG = SOLUONG + @slthue
				where DIA.MADIA = @madia
		
				--Nếu không lỗi thì thực hiện commit
				commit;
			end try
			begin catch
				--Lỗi thì rollback lại dữ liệu
				rollback;
			end catch
		end
		
	

end
GO
/****** Object:  StoredProcedure [dbo].[SP_XOADIA]    Script Date: 13/05/2024 23:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_XOADIA] 
(@madia char(6))
as
begin
	update DIA
	set TT = N'Ẩn'
	where MADIA = @madia
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CT_PHIEUTRA"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PHIEUTHUE"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "PHIEUTRA"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 170
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DIATQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DIATQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HD"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 148
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_DOANHTHUTHEONAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_DOANHTHUTHEONAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HD"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 148
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_DOANHTHUTHEOTHANG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_DOANHTHUTHEOTHANG'
GO
USE [master]
GO
